body {
}
div.Page-buttons {
    height: 50px;
    display: block;
    text-align: center;
    margin: 30px 0px 30px 30px;
}

    div.Page-buttons div.Next-Page, div.Previous-Page, .page-button {
        font-size: 16px;
        font-family: 'Charis SIL';
        color: black;
        vertical-align: top;
        display: inline-block;
        min-width: 45px;
        min-height: 45px;
        margin: 2px;
        padding: 5px;
        border-radius: 50%;
        text-align: center;
        border: 2px solid;
        border-color: lightblue;
        transition-duration: 0.25s;
    }

    div .Page-buttons div:hover {
        min-width: 50px;
        min-height: 50px;
        margin: 2px;
        padding: 5px;
        border-radius: 50%;
        text-align: center;
        background-color: cornflowerblue;
        border-color: cornflowerblue;
    }

    div.Page-buttons label#Current-Page {
        background-color: cornflowerblue;
        padding: 6px 0px 0px 0px;
        color: black;
    }
