<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Theme/styles/AdminPage.css" rel="stylesheet" />
    <link href="~/Theme/styles/CategoryPage.css" rel="stylesheet" />
    <link href="~/Theme/styles/MemberPage.css" rel="stylesheet" />
    <link href="~/Theme/styles/ProductPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://kit.fontawesome.com/c562b97dfd.js" crossorigin="anonymous"></script>
</head>
<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fa-solid fa-helicopter-symbol"></span><span>HTCC</span></h2>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="~/AdminHome/Index" class="active1">
                        <span class="fa-solid fa-store"></span>
                        <span>Thống kê</span>
                    </a>
                </li>
                <li>
                    <a href="~/AdminHome/Member" class="active1">
                        <span class="fa-solid fa-user"></span>
                        <span>Thành viên</span>
                    </a>
                </li>
                <li>
                    <a href="~/AdminHome/Category" class="active1">
                        <span class="fa-solid fa-list"></span>
                        <span>Thể loại</span>
                    </a>
                </li>
                <li>
                    <a href="~/AdminHome/Product" class="active1">
                        <span class="fa-solid fa-bag-shopping"></span>
                        <span>Sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="~/AdminHome/Order" class="active1">
                        <span class="fa-solid fa-bag-shopping"></span>
                        <span>Đơn hàng</span>
                    </a>
                </li>
                <li>
                    <div id="changepass">
                        <span class="fa-solid fa-key"></span>
                        <span>Đổi mật khẩu</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    @RenderBody();

    <div class="bg-modal-X">
        <div class="cards-X">
            <div class="close-X">+</div>
            <div class="title-X">Đổi mật khẩu</div>
            <div class="change-form">
                <form action="/AdminHome/ChangePassWord" method="post">
                    <div class="input-box-password">
                        <span class="pass">Mật khẩu hiện tại</span>

                        <input data-val="true" data-val-remote="mật khẩu hiện tại chưa đúng"
                               data-val-remote-additionalfields="*.pwcurrent"
                               data-val-remote-url="/AdminHome/CurrentPw"
                               data-val-maxlength="Mật khẩu không được dài hơn 12 ký tự"
                               data-val-maxlength-max="12" data-val-minlength="Mật khẩu không được ít hơn 6 ký tự"
                               data-val-minlength-min="6" data-val-required="Mật khẩu đang để trống"
                               id="password" name="pwcurrent" placeholder="Enter your password" type="password">
                    </div>
                    <div class="error" style="height: 36px; padding: 5px 0 5px 0;">
                        <span class="field-validation-valid" data-valmsg-for="pwcurrent" data-valmsg-replace="true" style="font-size: 18px; color:blue;"></span>
                    </div>
                    <div class="input-box-password">
                        <span class="pass">Mật khẩu mới</span>
                        <input data-val="true"
                               data-val-maxlength="Mật khẩu không được dài hơn 12 ký tự"
                               data-val-maxlength-max="12" data-val-minlength="Mật khẩu không được ít hơn 6 ký tự"
                               data-val-minlength-min="6" data-val-required="Mật khẩu đang để trống"
                               id="password" name="pwmuondoi" placeholder="Enter your password" type="password">
                    </div>
                    <div class="error" style="height: 36px; padding-top: 5px;">
                        <span class="field-validation-valid" data-valmsg-for="pwmuondoi" data-valmsg-replace="true" style="font-size: 18px; color:blue;"></span>
                    </div>
                    <div class="input-box-password">
                        <span class="pass">Xác nhận mật khẩu mới</span>
                        <input data-val="true" data-val-remote="Mật khẩu chưa đúng"
                               data-val-remote-additionalfields="*.cfpassword,*.pwmuondoi"
                               data-val-remote-url="/AdminHome/Is_Matched_Passwork"
                               id="cfpassword" name="cfpassword" placeholder="Confirm your password" type="password">
                    </div>
                    <div class="error" style="height: 36px;">
                        <span class="field-validation-valid" data-valmsg-for="cfpassword" data-valmsg-replace="true" style="font-size: 18px; color:blue;"></span>
                    </div>
                    <div class="button">
                        <input type="submit" id="btn-change-pass" value="Change">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $('.mydatatable').DataTable();
    </script>

    <script>
        $(document).ready(function () {
            $('.search_select_box select').selectpicker();
        })
    </script>

    <script>
        var title = document.getElementsByClassName('Action-page-name')[0].innerHTML;
        console.log(title);
        var i = document.getElementsByClassName('active1');
        if (title == 'Dashboard') i[0].className = 'active';
        if (title == 'Member') i[1].className = 'active';
        if (title == 'Category') i[2].className = 'active';
        if (title == 'Product') i[3].className = 'active';
        if (title == 'Order') i[4].className = 'active';
    </script>

    <script>
        document.getElementById('changepass').addEventListener('click', function () {
            document.querySelector('.bg-modal-X').style.display = 'flex';
        });

        document.querySelector('.close-X').addEventListener('click', function () {
            document.querySelector('.bg-modal-X').style.display = 'none';
        });

    </script>

    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        }
    </script>
</body>
</html>
