<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/CSS/_Layout.css" />
    <script src="https://kit.fontawesome.com/c562b97dfd.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navbar-->
    <nav>
        <ul>
            <li class="logo">HTCC-Beauty</li>
            <div class="item">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Sign in</a></li>
            <li><a href="#">Sign up</a></li>
            </div>
            <li class="search-icon">
                <input type="search" placeholder="Search">
                <label class="icon">
                    <span class="fas fa-search"></span>
                </label>
            </li>
        </ul>
    </nav>

    @RenderBody()
</body>
</html>
