@using PBL3.Models;
@using System.Web.Mvc;
@{ 
    User a = (User)Session[PBL3.Controllers.RouteController.Account_Session];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/CSS/_Layout.css" />
    <script src="https://kit.fontawesome.com/c562b97dfd.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <!-- Navbar-->
    <nav>
        <ul>
            <li class="logo">HTCC-Beauty</li>
            <div class="item">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            @if (a == null)
            {
                <li><a href="~/Login/Sign_in">Sign in</a></li>
                <li><a href="~/Login/Sign_up">Sign up</a></li>
            }
            else
            {
                <li>@a.username</li>
            }
            </div>
            <li class="search-icon">
                <input type="search" placeholder="Search">
                <label class="icon">
                    <span class="fas fa-search"></span>
                </label>
            </li>
        </ul>
    </nav>
    @RenderBody()
</body>
</html>
