<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="~/Theme/styles/Sign_up.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/c562b97dfd.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
