<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Theme/styles/AdminPage.css" rel="stylesheet" />
    <link href="~/Theme/styles/CategoryPage.css" rel="stylesheet" />
    <link href="~/Theme/styles/MemberPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-
    static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script src="https://kit.fontawesome.com/c562b97dfd.js" crossorigin="anonymous"></script>
</head>
<body>

    @RenderBody();

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $('.mydatatable').DataTable();
    </script>
</body>
</html>
