
@using PBL3.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Orderr> ListOrder = Model;
}
<h2>Index</h2>
<div style="margin-top: 60px">
    <div>
        @foreach (var i in ListOrder)
        {
            <a href="https://localhost:44325/Order/Detail?Orderid=@i.id">
            <div> Đơn hàng: @Encrypt.ToEncrypt("000" + i.id)</div>
            <div></div>
            <div>Thời gian đặt hàng: @i.TimeConfirm</div>
            <div>@i.status</div>
            @foreach (var ip in i.payments)
            {   
                <div>@(ip.totalPrice)</div>
            }
            </a>
        }
    </div>
</div>

