@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

<div class="about_container">
    <h2 class="group_name">HTCC Group</h2>
    <div>
        <h4>ĐỒ ÁN CÔNG NGHỆ PHẦN MỀM PBL3</h4>
        <h5>Giáo viên hướng dẫn: Lê Thị Mỹ Hạnh</h5>
        <p>Thành viên:</p>
        <ul>
            <li>Nguyễn Quốc Cường</li>
            <li>Phan Mạnh Cường</li>
            <li>Nguyễn Nho Song Hoàng</li>
            <li>Lương Thiện</li>
        </ul>
    </div>
</div>
