
@model PBL3.Models.TradeMark
@{
    ViewBag.Title = "addTradeMark";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>addTradeMark</h2>
@ViewBag.Message
@using (Html.BeginForm("addTradeMark", "AdminHome", FormMethod.Post))
{
    @Html.LabelFor(model => model.name)
    @Html.TextBoxFor(model => model.name)

    <input type="submit" value="Add TradeMark" />
}
