<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Về chúng tôi</title>
    <link href="~/Content/CSS/About2.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/c562b97dfd.js" crossorigin="anonymous"></script>
</head>
@{ Layout = "";}
<body>
    <div class="btn-back">
        <a href="/Home/Index">
            <i class="fa-solid fa-left-long"></i>
        </a>
    </div>
    <h1>HTCC GROUP</h1>
    <blockquote>
        <h2>ĐỒ ÁN CÔNG NGHỆ PHẦN MỀM PBL3</h2>
        <h2 style="font-size: 34px; color: #54a0ff; ">Website bán mỹ phẩm online</h2>
        <h3>Giáo viên hướng dẫn: Lê Thị Mỹ Hạnh</h3>
    </blockquote>
    <section class="container">

        <div class="card">
            <div class="bg-image">
                <img src="~/Image/bg-img.jpg" alt="">
            </div>
            <div class="Pic">
                <img src="~/Image/p1.jpg">
            </div>
            <div class="info">
                <h4>Nguyễn Nho Song Hoàng</h4>
                <h6>102200257</h6>
                <h5>20TCLC_KHDL</h5>
            </div>
        </div>

        <div class="card">
            <div class="bg-image">
                <img src="~/Image/bg-img.jpg" alt="">
            </div>
            <div class="Pic">
                <img src="~/Image/p2.jpg">
            </div>
            <div class="info">
                <h4>Lương Thiện</h4>
                <h6>102200287</h6>
                <h5>20TCLC_KHDL</h5>
            </div>
        </div>

        <div class="card">
            <div class="bg-image">
                <img src="~/Image/bg-img.jpg" alt="">
            </div>
            <div class="Pic">
                <img src="~/Image/p3.jpg">
            </div>
            <div class="info">
                <h4>Nguyễn Quốc Cường</h4>
                <h6>102200249</h6>
                <h5>20TCLC_KHDL</h5>
            </div>
        </div>

        <div class="card">
            <div class="bg-image">
                <img src="~/Image/bg-img.jpg" alt="">
            </div>
            <div class="Pic">
                <img src="~/Image/p4.jpg">
            </div>
            <div class="info">
                <h4>Phan Mạnh Cường</h4>
                <h6>102200250</h6>
                <h5>20TCLC_KHDL</h5>
            </div>
        </div>
    </section>
</body>
</html>