@using PBL3.Models;
@{
    ViewBag.Title = "Trang chủ HTCC-Beauty";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List_ProductView list = Model;
}
<!-- Menu -->

<!-- Home -->
<div class="home">
    <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">

            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background_1"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                    <div class="home_slider_title" style="font-family: 'Charis SIL', serif; letter-spacing: 3px !important;">HTCC-BEAUTY Online Shopping.</div>
                                    <div class="home_slider_subtitle" style="font-family: 'Charis SIL', serif;">Chào mừng đến với cửa hàng HTCC-Beauty! Nơi mang quý khách đến thiên đường về sắc đẹp. Chúng tôi là nơi hội tụ đầy đủ những nhiều các bạn cần. Chúng tôi là HTCC-Beauty!</div>
                                    <div class="button button_light home_button"><a href="/Home/AllProduct">Shop Now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background_2"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                    <div class="home_slider_title">HTCC-BEAUTY Online Shopping.</div>
                                    <div class="home_slider_subtitle" style="font-family: 'Charis SIL', serif;">Chào mừng đến với cửa hàng HTCC-Beauty! Nơi mang quý khách đến thiên đường về sắc đẹp. Chúng tôi là nơi hội tụ đầy đủ những nhiều các bạn cần. Chúng tôi là HTCC-Beauty!</div>
                                    <div class="button button_light home_button"><a href="/Home/AllProduct">Shop Now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background_3"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                    <div class="home_slider_title">HTCC-BEAUTY Online Shopping.</div>
                                    <div class="home_slider_subtitle" style="font-family: 'Charis SIL', serif;">Chào mừng đến với cửa hàng HTCC-Beauty! Nơi mang quý khách đến thiên đường về sắc đẹp. Chúng tôi là nơi hội tụ đầy đủ những nhiều các bạn cần. Chúng tôi là HTCC-Beauty!</div>
                                    <div class="button button_light home_button"><a href="/Home/AllProduct">Shop Now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Home Slider Dots -->

        <div class="home_slider_dots_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_slider_dots">
                            <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                                <li class="home_slider_custom_dot active">01.</li>
                                <li class="home_slider_custom_dot">02.</li>
                                <li class="home_slider_custom_dot">03.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Ads -->
<div class="avds">
    <div class="avds_container d-flex flex-lg-row flex-column align-items-start justify-content-between">
        <div class="avds_small">
            <div class="avds_background"></div>
            <div class="avds_small_inner">
                <div class="avds_discount_container">
                    <img src="~/Theme/images/discount.png" />
                    <div>
                        <div class="avds_discount">
                            <div>20<span>%</span></div>
                            <div>Discount</div>
                        </div>
                    </div>
                </div>
                <div class="avds_small_content">
                    <div class="avds_title" style="font-family: 'Charis SIL', serif;">Lipstick</div>
                    <div class="avds_link"><a href="/Home/AllProduct2?sort=Lipstick&sort=+">See More</a></div>
                </div>
            </div>
        </div>
        <div class="avds_large">
            <div class="avds_background"></div>
            <div class="avds_large_container">
                <div class="avds_large_content">
                    <div class="avds_title" style="font-family: 'Charis SIL', serif;">Body Suncream</div>
                    <div class="avds_text" style="font-family: 'Charis SIL', serif; font-size: 16px;">Chào mừng quý khách đã đến với cửa hàng của chúng tôi! Sản phẩm của chúng tôi hứa hẹn sẽ mang lại cho quý khách một trải nghiệm hết sức mới mẻ và thú vị.</div>
                    <div class="avds_link avds_link_large"><a href="/Home/AllProduct2?sort=Body+Suncream&sort=+">See More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Products -->

<div class="products">
    
</div>
<!-- Ad -->

<div class="avds_xl">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="avds_xl_container clearfix">
                    <div class="avds_xl_background"></div>
                    <div class="avds_xl_content">
                        <div class="avds_title">Eye Palettes</div>
                        <div class="avds_text">Sự hài lòng của khách hàng là ưu tiên tuyệt đối của chúng tôi.</div>
                        <div class="avds_link avds_xl_link"><a href="/Home/AllProduct2?sort=Eye+Palettes&sort=+">See More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Icon Boxes -->

<div class="icon_boxes">
    <div class="container">
        <div class="row icon_box_row">

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box">
                    <div class="icon_box_image"><img src="~/Theme/images/icon_1.svg" alt=""></div>
                    <div class="icon_box_title">Vận chuyển miễn phí</div>
                    <div class="icon_box_text">
                        <p>Chào mừng đến với cửa hàng HTCC-Beauty! Nơi mang quý khách đến thiên đường về sắc đẹp. Chúng tôi là nơi hội tụ đầy đủ những nhiều các bạn cần. Chúng tôi là HTCC-Beauty!</p>
                    </div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box">
                    <div class="icon_box_image"><img src="~/Theme/images/icon_2.svg" alt=""></div>
                    <div class="icon_box_title">Hoàn trả miễn phí</div>
                    <div class="icon_box_text">
                        <p>Chào mừng đến với cửa hàng HTCC-Beauty! Nơi mang quý khách đến thiên đường về sắc đẹp. Chúng tôi là nơi hội tụ đầy đủ những nhiều các bạn cần. Chúng tôi là HTCC-Beauty!</p>
                    </div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box">
                    <div class="icon_box_image"><img src="~/Theme/images/icon_3.svg" alt=""></div>
                    <div class="icon_box_title">Hỗ trợ 24/7</div>
                    <div class="icon_box_text">
                        <p>Chào mừng đến với cửa hàng HTCC-Beauty! Nơi mang quý khách đến thiên đường về sắc đẹp. Chúng tôi là nơi hội tụ đầy đủ những nhiều các bạn cần. Chúng tôi là HTCC-Beauty!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Newsletter -->

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter_border"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="newsletter_content text-center">
                    <div class="newsletter_title">Đăng ký cùng chúng tôi</div>
                    <div class="newsletter_text"><p>Chào mừng đến với cửa hàng HTCC-Beauty! Nơi mang quý khách đến thiên đường về sắc đẹp. Chúng tôi là nơi hội tụ đầy đủ những nhiều các bạn cần. Chúng tôi là HTCC-Beauty!</p></div>
                    <div class="newsletter_form_container">
                        <form action="#" id="newsletter_form" class="newsletter_form">
                            <input type="email" class="newsletter_input" required="required">
                            <button class="newsletter_button trans_200"><span>Đăng ký</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>