@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>@Html.ActionLink("Sign up", "Sign_up", "Login")</div>
<div>@Html.ActionLink("Sign in", "Sign_in", "Login")</div>