
@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="fa-solid fa-computer"></span><span>HTCC</span></h2>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="~/AdminHome/Index">
                    <span class="fa-solid fa-store"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="~/AdminHome/Member" class="active">
                    <span class="fa-solid fa-user"></span>
                    <span>Member</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="fa-solid fa-list"></span>
                    <span>Category</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="fa-solid fa-bag-shopping"></span>
                    <span>Product</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="fa-solid fa-circle-info"></span>
                    <span>About</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="fa-solid fa-bars"></span>
            </label>
            Member
        </h2>

        <div class="search-wrapper">
            <span class="fa-solid fa-magnifying-glass"></span>
            <input type="search" placeholder="Search here" />
        </div>

        <div class="user-wrapper">
            <img src="~/Theme/images/profile.png" alt="" width="30px" height="30px">
            <div>
                <h4>Name</h4>
                <small>Admin</small>
            </div>
        </div>
    </header>

    <main>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h1>54</h1>
                    <span>Members</span>
                </div>
                <div>
                    <span class="fa-solid fa-users"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>59</h1>
                    <span>Products</span>
                </div>
                <div>
                    <span class="fa-solid fa-cart-shopping"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>200</h1>
                    <span>Order</span>
                </div>
                <div>
                    <span class="fa-solid fa-bag-shopping"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>10m VND</h1>
                    <span>Income</span>
                </div>
                <div>
                    <span class="fa-solid fa-wallet"></span>
                </div>
            </div>
        </div>

        <div class="recent-grid">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3>Members</h3>

                        <button>
                            See all <span class="fa-solid fa-arrow-right">
                            </span>
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered mydatatable" id="table" style="width: 100%"
                                   data-toggle="table"
                                   data-id-table="advancedTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Sex</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Username</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>abcaaaa123@gmail.com</td>
                                        <td>10000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_purple">ACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>Category</td>
                                        <td>Dior</td>
                                        <td>
                                            <span class="status_orange">INACTIVE</span>
                                        </td>
                                        <td>10</td>
                                        <td>1000000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
