@{
    ViewBag.Title = "Product Detail";
    Layout = "~/Views/Shared/_LayoutShowAll.cshtml";
}


<div class="container mt-2 mb-2" style="margin-left: 5px;">
    <table style="width: 1199.75px;"
           data-toggle="table"
           data-pagination="true"
           data-search="true"
           data-height="600"
           data-detail-view="true"
           data-detail-formatter="detailFormatter">
        <thead>
            <tr>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th data-field="trademark" data-sortable="true">Trademark</th>
                <th data-field="discription" data-sortable="true">Description</th>
                <th data-field="remain_quantity" data-sortable="true">Remain Quantity</th>
                <th data-field="product_info" data-sortable="true">Product Info</th>
                <th data-field="imageUrl" data-sortable="true">Image URL</th>
                <th data-field="price" data-sortable="true">Price</th>
                <th data-field="action" data-formatter="actionFormatter">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Trademark</td>
                <td>Description</td>
                <td>50</td>
                <td>Product info</td>
                <td>Image URL</td>
                <td>100000</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="bg-modal-1">
    <div class="cards-1">
        <div class="close-1">+</div>
        <div class="title-1">Edit product</div>
        <div class="edit-form">
            <form action="#">
                <div class="product-details">
                    <div class="input-box">
                        <span class="details">Name</span>
                        <input type="text" placeholder="Enter product name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Category</span>
                        <div class="search_select_box">
                            <select class="options" data-live-search="true">
                                <option>Foundation</option>
                                <option>Highlighter</option>
                                <option>Toners</option>
                                <option>Face Suncream</option>
                                <option>Serum</option>
                                <option>Eye Palettes</option>
                                <option>Mascara</option>
                                <option>Eyeliner</option>
                                <option>Eyebrow</option>
                                <option>Lipstick</option>
                                <option>Perfume</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box">
                        <span class="details">Trademark</span>
                        <div class="search_select_box">
                            <select class="options" data-live-search="true">
                                <option>Foundation</option>
                                <option>Highlighter</option>
                                <option>Toners</option>
                                <option>Face Suncream</option>
                                <option>Serum</option>
                                <option>Eye Palettes</option>
                                <option>Mascara</option>
                                <option>Eyeliner</option>
                                <option>Eyebrow</option>
                                <option>Lipstick</option>
                                <option>Perfume</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-box">
                        <span class="details">Discription</span>
                        <input type="text" placeholder="Enter discription" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Price</span>
                        <input type="text" placeholder="Enter price" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Status</span>
                        <input type="text" placeholder="Enter product status" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Remain quantity</span>
                        <input type="text" placeholder="Enter remaining quantity" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Image URL</span>
                        <input type="text" placeholder="Enter Image URL" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Product information</span>
                        <textarea id="productinfo" type="text" rows="4" placeholder="Enter product information" required></textarea>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Edit">
                </div>
            </form>
        </div>
    </div>
</div>
