@model PBL3.Models.Account_Sign_in
@{
    ViewBag.Title = "Sign_in";
    Layout = "~/Views/Shared/_LayoutSignIn.cshtml";
}

<h1>Login</h1>
@using (Html.BeginForm("Sign_in", "Login", FormMethod.Post))
{
    @ViewBag.SignIn
    <div class="txt_field">
        <input type="text" id="email" name="email" required>
        <span></span>
        <label>Username</label>
    </div>
    <div class="txt_field">
        <input type="password" id="password" name="password" required>
        <span></span>
        <label>Password</label>
    </div>
    <div class="pass"><a style="text-decoration:none; color: #808080" href="/Login/ForgetPwd">Forgot Password?</a></div>
    <input type="submit" value="Login">
    <div class="signup_link">
        Not a member? @Html.ActionLink("Sign up", "Sign_up","Login")
    </div>
}


