@model Pbl3Context.User

@using PBL3.Models

@{
    ViewBag.Title = "Sign_up";
    Layout = "~/Views/Shared/_LayoutSignUp.cshtml";
    SignUp_Errors Errors = ViewBag.SignUp_Check;
}

<div class="title">Sign up</div>

<form action="#">
    <div class="user-details1">
        <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" required>
        </div>
        <div class="gender-details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <span class="gender-title">Gender</span>
            <div class="category">
                <label for="dot-1">
                    <span class="dot one"></span>
                    <span class="gender">Male</span>
                </label>
                <label for="dot-2">
                    <span class="dot two"></span>
                    <span class="gender">Female</span>
                </label>
            </div>
        </div>
    </div>
    <div class="user-details2">
        <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" required>
        </div>
        <div class="input-box">
            <span class="details">Address</span>
            <input type="text" placeholder="Enter your address" required>
        </div>
        <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" required>
        </div>
        <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
        </div>
        <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" required>
        </div>
        <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirm your password" required>
        </div>
    </div>
    <div class="button">
        <input type="submit" value="Sign up">
    </div>
</form>