
@{
    ViewBag.Title = "Sign_in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewBag.isAccess
@using (Html.BeginForm("Sign_in", "Login", FormMethod.Post))
{
    <label for="email">Email:</label>
    <br>
    <input type="text" id="email" name="email">
    <br>
    <label for="password">Password:</label>
    <br>
    <input type="password" id="password" name="password">
    <input type="submit" value="Sign in" />
}


